@page
@model DBLocalizationSample.Pages.FormModel
@{
    ViewData["Title"] = "Form";
}

<h1 localize-content>Form</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Command.Lastname"></label>
            <input name="Command.Lastname" type="text" class="form-control" localize-att-placeholder="Lastname" />
            <span class="text-danger" asp-validation-for="Command.Lastname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Firstname"></label>
            <input name="Command.Firstname" type="text" class="form-control" localize-att-placeholder="Firstname" />
            <span class="text-danger" asp-validation-for="Command.Firstname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Email"></label>
            <input name="Command.Email" type="text" class="form-control" localize-att-placeholder="Email" />
            <span class="text-danger" asp-validation-for="Command.Email"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" localize-content>OK</button>
        </div>
    </form>
</div>